PORT=3001

# Hugging Face Inference API
HF_API_KEY=YOUR_HUGGING_FACE_API_KEY
HF_BASE_URL=HUGGING_FACE_API_BASE_URL
HF_ST_ML_MODEL_URL=HUGGING_FACE_ST_ML_MODEL_URL
HF_MODEL=YOUR_HUGGING_FACE_MODEL

# Serp API
SERP_API_BASE_URL=SERP_API_BASE_URL
SERP_API_KEY=YOUR_SERP_API_KEY

# Safety/perf
CACHE_TTL_MS=900000

# Debug
DEBUG=false
